body {
  background-image: url("../images/Torres-de-cristal.jpg");
  background-size: cover;
  background-position: cover;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(4, 22, 47, 0.8);
  width: 90%;
  max-width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  margin: 1% auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #FFF;
}

label {
  display: block;
  text-align: left;
  color: #fff;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

input[type="submit"] {
  width: 200px;
  padding: 10px;
  background-color: #bf9b51;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  color: #FFF;
  margin-top: 10px;
  font-style: italic;
}

.login {
  color: #fff;
}

.back-to-top {
  display: block;
  margin-top: 10px;
  padding: 10px 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-style: normal;
}